---
import BaseLayout from '../layouts/BaseLayout.astro';
import PapelPicado from '../components/PapelPicado.astro';
---

<BaseLayout>
	<main class="coming-soon">
		<div class="flare">
			<PapelPicado color="var(--primary)" />
			<PapelPicado color="var(--secondary)" />
			<PapelPicado color="var(--tertiary)" />
		</div>

		<div class="message">
			<h1>Estudio Crepé</h1>
			<p>Pronto estaremos a tu servicio.</p>
		</div>
	</main>
</BaseLayout>
